<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio:</strong>
  <%= @holding.portfolio %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @holding.vehicle %>
</p>

<p>
  <strong>Units:</strong>
  <%= @holding.units %>
</p>

<p>
  <strong>Unit cost:</strong>
  <%= @holding.unit_cost %>
</p>

<p>
  <strong>Target price:</strong>
  <%= @holding.target_price %>
</p>

<p>
  <strong>Target weighting:</strong>
  <%= @holding.target_weighting %>
</p>

<%= link_to 'Edit', edit_holding_path(@holding) %> |
<%= link_to 'Back', holdings_path %>
