<p>
  <strong>Code:</strong>
  <%= @portfolio.code %>
  <strong>  </strong>
  <%= @portfolio.name %>
</p>

<p>
  <strong>Capital : </strong>
  <%= @portfolio.capital %>
  <strong> Cash:</strong>
  <%= @portfolio.cash %>
</p>

<p>
  <strong>Start :</strong>
  <%= @portfolio.start_date %>
  <strong>End :</strong>
  <%= @portfolio.end_date %>
</p>