<%= render 'shared/errors', obj: @vehicle %>

<%= form_for(@vehicle) do |f| %>
  <div class="field">
    <%= f.label :ticker %><br>
    <%= f.text_field :ticker %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :currency %><br>
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :last_price %><br>
    <%= f.text_field :last_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
