<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @vehicle.ticker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @vehicle.currency %>
</p>

<p>
  <strong>Last price:</strong>
  <%= @vehicle.last_price %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
